.app-header .game-title {
  width: 172px;
  height: 44px;
  background-image: url('/uisprites.png');
  background-size: auto 128px;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.app-header .right {
  position: absolute;
  right: 14px;
  top: 8px;
}

